<header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</header>

<button routerLink="/home">Back</button>
<h1> {{ this.name }}, {{this.state}} </h1>

<div class="col-lg-6">
    <img [src]="this.image" target="blank" width="100%">
</div>

<div class = "col-lg-6">
        <div class = "Label">Population:</div>
        <div class = "info"> {{ this.pop }} </div>
        <div class = "Label">Cost of Living: </div>
        <div class = "info">{{ this.cost }}</div>
        <div class = "Label">Attractions: </div>
        <div class = "info">{{ this.att }} </div>
<br><br><br>
        For more info: <a href="{{ this.link }}">{{ this.link }}</a><br><br>
</div>

<br>
<div class = "Label">Average Weather Patterns: </div>
<div class = "container">
<table>
        <tr>
            <td>Month</td>
            <td>January</td>
            <td>February</td>
            <td>March</td>
            <td>April</td>
            <td>May</td>
            <td>June</td>
            <td>July</td>
            <td>August</td>
            <td>September</td>
            <td>October</td>
            <td>November</td>
            <td>December</td>
        </tr>
        <tr>
                <td>Avg. Temp.</td>
                <td> {{ this.jan }}°F</td>
                <td>{{ this.feb }}°F</td>
                <td>{{ this.ma }}°F</td>
                <td>{{ this.ap }}°F</td>
                <td>{{ this.ma }}°F</td>
                <td>{{ this.ju }}°F</td>
                <td>{{ this.jul }}°F</td>
                <td>{{ this.aug }}°F</td>
                <td>{{ this.sep }}°F</td>
                <td>{{ this.oct }}°F</td>
                <td>{{ this.nov }}°F</td>
                <td>{{ this.dec }}°F</td>
            </tr>
    </table>
    <br>
</div>


