<head>
    <meta charset="utf-8">
    <title>Vertical Skills</title>
</head>
<h1>City Name</h1>
<body>Pop:123<br>Cost of Living: 90.2<br>Weather Averages:<br></body>
<section>
    <div class="box">
        <div class="months">
            <div class="graph">
                <div class="percentages">50%</div>
            </div>
            <div class="name">January</div>
        </div>
        <div class="months">
            <div class="graph">
                <div class="percentages">50%</div>
            </div>
            <div class="name">February</div>
        </div>
        <div class="months">
            <div class="graph">
                <div class="percentages">50%</div>
            </div>
            <div class="name">March</div>
        </div>
    </div>
</section>