<h1>City Name</h1>
<div class="image">
    <img src="https://admissions.ku.edu/sites/default/files/styles/captioned_media/public/2017-03/RS12514_103274_ExtdCanvas%20%281%29_0.jpg?itok=6Q0Eiu9m" target="blank" width="38%" height="60%">
    </div>
<body>Pop:123<br>Cost of Living: 90.2<br>Weather Averages:<br></body>
<section>
    <div class="box">
        <div class="months">
            <div class="graph" style="height: 50%">
                <div class="degrees">50°</div>
            </div>
            <div class="name">Jan</div>
        </div>
        <div class="months">
            <div class="graph"style="height: 50%">
                <div class="degrees">50°</div>
            </div>
            <div class="name">Feb</div>
        </div>
        <div class="months">
            <div class="graph"style="height: 50%">
                <div class="degrees">50°</div>
            </div>
            <div class="name">Mar</div>
        </div>
        <div class="months">
            <div class="graph"style="height: 50%">
                <div class="degrees">50°</div>
            </div>
            <div class="name">Apr</div>
        </div> <div class="months">
            <div class="graph"style="height: 50%">
                <div class="degrees">50°</div>
            </div>
            <div class="name">May</div>
        </div>
        <div class="months">
            <div class="graph"style="height: 50%">
                <div class="degrees">50°</div>
            </div>
            <div class="name">June</div>
        </div>
        <div class="months">
            <div class="graph"style="height: 50%">
                <div class="degrees">50°</div>
            </div>
            <div class="name">July</div>
        </div>
        <div class="months">
            <div class="graph"style="height: 50%">
                <div class="degrees">50°</div>
            </div>
            <div class="name">Aug</div>
        </div> <div class="months">
            <div class="graph"style="height: 50%">
                <div class="degrees">50°</div>
            </div>
            <div class="name">Sept</div>
        </div>
        <div class="months">
            <div class="graph"style="height: 50%">
                <div class="degrees">50°</div>
            </div>
            <div class="name">Oct</div>
        </div>
        <div class="months">
            <div class="graph"style="height: 50%">
                <div class="degrees">50°</div>
            </div>
            <div class="name">Nov</div>
        </div>
        <div class="months">
            <div class="graph"style="height: 50%">
                <div class="degrees">50°</div>
            </div>
            <div class="name">Dec</div>
        </div>
    </div>
    <div class="link">For more info:www.pleasehelp.com</div>
    <div class="info">
        <div class="attractions">Attractions
            <div class="places">GO HERE PLEASE!</div>
        </div>
    </div>        
</section>

