


body
{
    background-color: lightblue;
    transition: .5s ease;
}
h1
{
    text-align: center;
    font-size: 64px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    transition: .5s ease;
}
h2
{
    text-align: center;
    font-size: 32px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    transition: .5s ease;
}
.nice
{
    color: green;
}
.affordable
{
    color: crimson;
}
.usMap
{
    text-align: center;
    transition: .5s ease;   
}
.lawrence
{
    transition: .5s ease;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.newYork
{
    transition: .5s ease;
    position: absolute;
    top: 56%;
    left: 72%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.losAngeles
{
    transition: .5s ease;
    position: absolute;
    top: 70%;
    left: 26%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.saintLouis
{
    transition: .5s ease;
    position: absolute;
    top: 64.75%;
    left: 55.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.chicago
{
    transition: .5s ease;
    position: absolute;
    top: 58%;
    left: 58.25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.houston
{
    transition: .5s ease;
    position: absolute;
    top: 87%;
    left: 49.25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}