


body
{
    background-color: lightblue;
}
h1
{
    text-align: center;
    font-size: 64px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h2
{
    text-align: center;
    font-size: 32px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.nice
{
    color: green;
}
.affordable
{
    color: crimson;
}
.usMap
{
    text-align: center;

}
.lawrence
{
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}