


body
{
    background-color: lightblue;
    transition: .5s ease;
}
h1
{
    text-align: center;
    font-size: 60px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    transition: .5s ease;
}
h2
{
    text-align: center;
    font-size: 28px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    transition: .5s ease;
}
.nice
{
    color: green;
}
.affordable
{
    color: crimson;
}
.usMap
{
    text-align: center;
    transition: .5s ease;
    width: 850px;
    margin: auto;
    position:relative;
}
.usMap img {
    width: 850px;
}
.lawrence
{
    transition: .5s ease;
    position: absolute;
    top: 272px;
    left: 424px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.newYork
{
    transition: .5s ease;
    position: absolute;
    top: 207px;
    left: 733px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.losAngeles
{
    transition: .5s ease;
    position: absolute;
    top: 321px;
    left: 84px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.saintLouis
{
    transition: .5s ease;
    position: absolute;
    top: 277px;
    left: 503px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.chicago
{
    transition: .5s ease;
    position: absolute;
    top: 224px;
    left: 542px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.houston
{
    transition: .5s ease;
    position: absolute;
    top: 457px;
    left: 418px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.seattle
{
    transition: .5s ease;
    position: absolute;
    top: 73px;
    left: 98px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.miami
{
    transition: .5s ease;
    position: absolute;
    top: 498px;
    left: 687px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.nashville
{
    transition: .5s ease;
    position: absolute;
    top: 322px;
    left: 571px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.lasVegas
{
    transition: .5s ease;
    position: absolute;
    top: 294px;
    left: 140px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.denver
{
    transition: .5s ease;
    position: absolute;
    top: 265px;
    left: 295px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
button:hover {
    background-color: grey;
    border: 5px solid black;
}

